<!DOCTYPE html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="public/js/controller.js"></script>		
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>WELCOME TO TWITTER SERVER 1</title>
</head>
<body ng-app="myApp" ng-controller="AppCtrl">

		{{current.user}}


	<div ng-switch="pageSwitch">
		<div ng-switch-when="createUser-page">

			Username: <input class="form-controler" ng-model="createUserInfo.username"><br>

			Email: <input class="form-controler" ng-model="createUserInfo.email"><br>

			Password: <input class="form-controler" ng-model="createUserInfo.password"><br>

			<button class="btn-primary" ng-click="createAccount()">Create new Account!</button>

			<br><br><br>

			<button class="btn" ng-click="verify()">Verify this account</button>

			<br><br><br>

			<button class="btn" ng-click="switchToLogin()">Click here to go to login page!</button>

			<br><br><br>

			<button class="btn" ng-click="switchToMain()">Click here to go to main page!</button>

			<button class="btn" ng-click="logout()">Click here to logout!</button>



		</div>



		<div ng-switch-when="login-page">

			Username: <input class="form-controler" ng-model="loginInfo.username"><br>

			Password: <input class="form-controler" ng-model="loginInfo.password">

			<button class="btn-primary" ng-click="login()">Login!</button>
			<br><br><br>

			<button class="btn" ng-click="switchToCreate()">Click here to create account!</button>

			<br><br><br>

			<button class="btn" ng-click="switchToMain()">Click here to go to main page!</button>

			<button class="btn" ng-click="logout()">Click here to logout!</button>




		</div>


		<div ng-switch-when="main-page">


			Tweet: <input class="form-controller" ng-model="tweet.tweet">

			<button class="btn-primary" ng-click="addTweet()">Post Tweet!</button>
			<br><br>

			Search for all tweets before: <input class="form-controller" ng-model="search.timestamp">
			<br>
			Pick amount of tweets to show: <input class="form-controller" ng-model="search.limit">
			<br>
			<button class="btn" ng-click="search()">Search for tweets!</button>
			<br><br><br>

			Find by ID: <input class="form-controller" ng-model="item.id">

			<br>
			<button class="btn" ng-click="findItem()">Search by id</button>
			<br><br>

			<button class="btn" ng-click="switchToCreate()">Click here to create account!</button>

						<br><br><br>

			<button class="btn" ng-click="switchToMain()">Show main feed</button>
			<br><br><br>


			Feed: <pre>{{twitter.feed}}</pre>

			<br><br><br>


			<button class="btn" ng-click="switchToLogin()">Click here to go to login page!</button>

			<button class="btn" ng-click="logout()">Click here to logout!</button>

		</div>
	</div>




</body>

</html>
<div id = 'app'></div>